name: Functional tests

on:
  workflow_call:
    inputs:
      ref:
        type: string
        description: The ref to build.
        required: true

jobs:
  functional_test:
    name: Operator functional tests via tox
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref || github.ref }}

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.13.0

      - name: Get SemVer version for current commit
        id: semver
        uses: azimuth-cloud/github-actions/semver@master

      - name: Run test
        timeout-minutes: 10
        run: tools/functional_test.sh
        env:
          IMAGE_TAG: ${{ steps.semver.outputs.short-sha }}
