name: Functional tests

on:
  workflow_call:

jobs:
  functional_test:
    name: Operator functional tests via tox
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Helm
      uses: azure/setup-helm@v4
      with:
        version: v3.11.3

    - name: Create k8s Kind Cluster
      uses: helm/kind-action@v1.9.0

    - name: Run test
      timeout-minutes: 10
      run: tools/functional_test.sh
